@model IEnumerable<InvoiceManagementSystem.Models.Message>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Gelen Kutusu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Gönderen
            </th>
            <th>
                Konu
            </th>
            <th>
                Mesaj
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.MessageDetails)
                </td>
            </tr>
        }
    </tbody>
</table>
